@page "/component/button"

@using System.Reactive.Linq
@using System.Windows.Input
@using Sanchez.DansUI.Runner.Blazor.Models

<h1>Button</h1>

A normal button: <Button>Normal</Button>
<br />
With prefix and suffix button:
<Button>
    <Prefix>
        <Icon Type="Icons.IconType.ALARM_CHECK" />
    </Prefix>
    <ChildContent>Inner</ChildContent>
    <Suffix>
        <Icon Type="Icons.IconType.AIRPLAY" />
    </Suffix>
</Button>
<br />
Primary Button: <Button IsPrimary="@true">Primary</Button>
<br />
Secondary Button: <Button IsSecondary="@true">Secondary</Button>
<br />
Disabled Button: <Button IsDisabled="@true" @onclick="HandleClick">Disabled</Button>

@code {
    private ICommand _command;
    ICommand _wrappedCommand => _command ??= new CustomCommand(HandleCommandClick);

    async Task HandleCommandClick()
    {
        await Task.Delay(1000);
    }

    void HandleClick()
    {
        // Hello
    }
}