@page "/component/tag"
@using System.Drawing

<h1>Tags</h1>
<TagContainer>
    <Tag Color="Color.Red">
        <Prefix>
            <Icon Type="Icons.IconType.TAG" />
        </Prefix>
        <ChildContent>Tag</ChildContent>
    </Tag>
    <Tag Color="Color.OrangeRed">Another Tag</Tag>
    <Tag Color="Color.Blue">
        <Prefix>
            <Icon Type="Icons.IconType.BOOKMARK" />
        </Prefix>
        <ChildContent>Blue One</ChildContent>
    </Tag>
    <Tag Color="Color.HotPink">
        <Prefix>
            <Icon Type="Icons.IconType.SMILE" />
        </Prefix>
        <ChildContent>Pink One</ChildContent>
    </Tag>

    <ScopeTag Color="Color.BlueViolet">
        <Scope>Name</Scope>
        <Content>Daniel</Content>
    </ScopeTag>
    <ScopeTag Color="Color.Green">
        <Scope>
            <Icon Type="Icons.IconType.HIGHLIGHTER" />
        </Scope>
        <Content>James</Content>
    </ScopeTag>
</TagContainer>