@page "/component/textbar"

<h1>TextBar</h1>

<Slimmer>
    <Card>
        <h2>Plain Textbar</h2>
        <TwoPane>
            <TextBar />
            <TextBar>
                <Suffix>
                    <Icon Type="Icons.IconType.APERTURE" />
                </Suffix>
            </TextBar>
        </TwoPane>
    </Card>
</Slimmer>