button {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 12px;

    transition: box-shadow 0.1s;

    -webkit-appearance: none;
    box-shadow: none;
    border-radius: 4px;
    padding: 6px;
    margin: 4px;

    cursor: pointer;

    font-size: 1em;
}

button:hover {
    box-shadow: 0px 0px 2px inset;
}

button.base {
    border: 1px solid var(--button-base-outline);
    background-color: var(--button-base-background);
    color: var(--button-base-color);
}

button.base.disabled {
    background-color: var(--button-base-disabled);
    color: var(--button-base-color-disabled);
}

button.primary {
    border: 1px solid var(--button-primary-outline);
    background-color: var(--button-primary-background);
    color: var(--button-primary-color);
}

button.primary.disabled {
    background-color: var(--button-primary-disabled);
    color: var(--button-primary-color-disabled);
}

button.secondary {
    border: 1px solid var(--button-secondary-outline);
    background-color: var(--button-secondary-background);
    color: var(--button-secondary-color);
}

button.secondary.disabled {
    background-color: var(--button-secondary-disabled);
    color: var(--button-secondary-color-disabled);
}

button.active {
    box-shadow: 0px 0px 5px inset !important;
}

button.disabled {
    cursor: default;
    pointer-events: none;
}