@using Sanchez.DansUI.Models
@using Microsoft.JSInterop
@using Sanchez.DansUI.Extensions

@inject IJSRuntime JSRuntime

@typeparam T

<div @ref="div" draggable="true">
    @ChildContent
</div>

@code {
    ElementReference div;

    string serializedData => System.Text.Json.JsonSerializer.Serialize(new DraggableState<T>(State));

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JSRuntime.BindDraggable(div, serializedData);

        await base.OnAfterRenderAsync(firstRender);
    }

    [Parameter]
    public T State { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}