@using Microsoft.JSInterop
@using Sanchez.DansUI.Extensions

@inject IJSRuntime JSRuntime

<div class="zone-outer" @ref="div">
    <div class="zone">
    </div>
</div>

@code {
    ElementReference div;

    protected async Task HandleDragEnter(DragEventArgs args)
    {

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JSRuntime.BindDroppable<object>(div, HandleCanDrop);

        await base.OnAfterRenderAsync(firstRender);
    }

    protected bool HandleCanDrop(object item)
    {
        return true;
    }

    [Parameter]
    public int Height { get; set; } = 25;

    [Parameter]
    public int DropOverHeight { get; set; } = 25;
}