<div class="zone-outer">
    <div class="zone" style=@styles @ondragover="HandleDragOver" @ondragleave="HandleDragLeave">
    </div>
</div>

@code {
    bool isHovering = false;
    string borderColor => isHovering ? "var(--primary)" : "var(--card-base-outline)";
    int height => isHovering ? Height : DropOverHeight;
    string styles => $"height: {height}px; border-color: {borderColor}";

    void HandleDragOver(DragEventArgs args)
    {
        isHovering = true;
    }

    void HandleDragLeave(DragEventArgs args)
    {
        isHovering = false;
    }

    [Parameter]
    public int Height { get; set; } = 25;

    [Parameter]
    public int DropOverHeight { get; set; } = 25;
}