.tag {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: flex-start;
    align-items: center;
    align-content: center;

    gap: 12px;

    padding: 5px 12px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;

    font-size: 0.8em;
}

::deep svg {
    height: 17px;
    width: 17px;
}