.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	gap: 12px;

	padding: 12px;

	border-radius: 5px;

	cursor: pointer;
}

.container:hover {
	background-color: var(--dropdown-item-hover-background);
}

.prefix {
}

.content {
	flex-grow: 1;
}

.suffix {
}