@page "/display/reflectiontable"

@using Sanchez.DansUI.Runner.Blazor.Models

<h1>Reflection Table</h1>
<Card>
    <h2>Registered People</h2>
    <ReflectionTable Items=@people />
</Card>

<Card>
    <h2>Smaller Reflection Table</h2>
    <ReflectionTable Items=@people ItemsPerPage=5 />
</Card>

@code {
    protected ICollection<RegisteredPerson> people;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        people = RegisteredPerson.GeneratePeopleList(100);
    }
}