@page "/display/reflectiontable"

@using Sanchez.DansUI.Runner.Blazor.Models
@using DynamicData

<h1>Reflection Table</h1>
<Card>
    <h2>Registered People</h2>
    <ReflectionTable Data=@people />
</Card>

@code {
    protected ISourceCache<RegisteredPerson, string> people = new SourceCache<RegisteredPerson, string>(x => x.Id);

    protected override void OnInitialized()
    {
        base.OnInitialized();

        people = RegisteredPerson.GeneratePeople(100);
        StateHasChanged();
    }
}