.container {
    width: 100%;
}

.container.should-overflow {
    overflow-x: auto;
}

table {
    min-width: 100%;
    border-collapse: collapse;
}

.show-borders {
    border: 1px solid var(--primary);
}

.alt-rows > tbody > tr:nth-child(even) {
    background-color: var(--table-row-alt-background);
}

tr:hover {
    background-color: var(--table-row-hover-background) !important;
}