.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.container > div {
    padding: 12px;
    cursor: pointer;

    user-select: none;
}

.indexer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    gap: 15px;
}

.index {
    padding: 7px 12px;
    border: 1px solid #333;
    border-radius: 4px;
}

.index.active {
    border-color: var(--primary);
}