@page "/"
@namespace Sanchez.DansUI.Runner.Blazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sanchez.DansUI.Runner.Blazor</title>
    <base href="~/" />
    <link href="site.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="_content/Sanchez.DansUI/Sanchez.DansUI.bundle.scp.css" rel="stylesheet" />
    <link href="_framework/scoped.styles.css" rel="stylesheet" />
    @*<link href="Sanchez.DansUI.styles.css" rel="stylesheet" />*@
    @*<link href="Sanchez.DansUI.Runner.Blazor.styles.css" rel="stylesheet" />*@
</head>

<body>
    <component type="typeof(App)" render-mode="Server" />

    @*<div id="blazor-error-ui">
        <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
        </div>*@

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Sanchez.DansUI/dansui.js"></script>
</body>

</html>
